/terraform/terraform.tfvars
/data
/terraform/terraform.tfstate
/terraform/.terraform.lock.hcl
/terraform/.terraform
/terraform/terraform.tfstate.backup
/terraform/variables.tf
/terraform/.terraform.tfstate.lock.info
/airflow/.env
/airflow/logs
/airflow/dags/configPy.py
/airflow/dags/__pycache__
/airflow/config
/.venv
/requirements.txt
